:root{
    --color1:rgb(132, 14, 201);
    --color2:rgb(255, 255, 0);
    --color3:rgb(230, 213, 60);
    --color4:rgb(21, 139, 139);
    --color5:rgb(80, 9, 121);
    }


body{
    background-color: var(--color4);
    color: white;
    font-family:sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
  
    
}


li{
    display: inline-block;
    margin: 20px;
    font-size: 17px;

}

a{
    color: white;
   
}
a:hover{
    color: rgb(230, 213, 60);
    transition: 0.3s all;

}

#cadastro-btn{
    border: 2px solid var(--color3);
    padding: 10px;
    border-radius: 20px;

}
#cadastro-btn:hover{
    background-color: var(--color3);
    color: black;
}
#My-btn{
    border: 2px solid var(--color3);
    padding: 10px;
    border-radius: 20px;
}
#My-btn:hover{
    background-color: var(--color3);
    color: black;
}

h1{
    font-weight: 200;
   

}
h1 a {
    text-decoration: none;
    font-size:50px;
}

main{
    display:flex ;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
   
}
span{
color: rgb(236, 222, 93);

}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width: 400px;

}
form{
display: flex;
flex-direction:column;
width: 40%;


}
input{
margin-top: 20px;
height: 20px;
padding: 15px;
border-radius: 20px;
border:none;
font-size: 15px;
}
#acessar{
height: 50px;
width: 50%;
background-color: var(--color4);
color: white;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 2px solid var(--color3);
padding: 10px;
border-radius: 20px;
}
#acessar:hover{
    cursor: pointer;
    background-color:var(--color3);
       color: black;
}
#fraseconta{

font-size: 30px;
}

